# Videos y Renders (MUY PESADOS - NO SUBIR TODO)
# **/*.mp4
# **/*.mov
# **/*.avi
!fondo_humo_azul.mp4
!assets/fondo_humo_azul.mp4
renders/

# Entornos Virtuales y Dependencias
venv/
__pycache__/
*.pyc
.env

# Archivos de Sistema
.DS_Store
Thumbs.db

# Temporales de Assets (Se generan en ejecución)
assets/ref_*.png
assets/master_*.png
assets/song_*.png
assets/overlay_*.png
